# Gizli bilgiler
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node / React
node_modules/
dist/

# IDE
.vscode/

# İşletim sistemi
.DS_Store
Thumbs.db
# ChromaDB yedekleri
models/chroma_db_backup/
models/chroma_db_yedek/

models/chroma_db/chroma.sqlite3
